.userCardList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 8px;
  margin: auto;
}

.userCard {
  background: var(--card);
  color: var(--card-foreground);
  border-radius: var(--radius);
  border-width: 1px;
  box-shadow: var(--shadow-lg);
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--text-3xl);
  line-height: var(--text-3xl--line-height);
  max-width: 100px;
  width: 100px;
  position: relative;
}

.userCard .username {
  position: absolute;
  top: -16px;
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
  font-weight: 600;
  border-width: 1px;
  border-radius: var(--radius);
  background-color: var(--secondary);
  color: var(--secondary-foreground);
  height: 32px;
  text-align: center;
  gap: 4px;
  padding: 0px 8px;
  width: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userCard .kickButton {
  display: none;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  position: absolute;
  top: 20px;
  right: 4px;
  fill: var(--card-foreground);
}

.userCard:hover .kickButton {
  display: flex;
}

.userCard .kickButton button:hover {
  fill: var(--destructive);
}

@media (width >= 48rem) {
  .userCard {
    padding: 48px 32px;
    font-size: var(--text-5xl);
    line-height: var(--text-5xl--line-height);
    max-width: 120px;
    width: 120px;
  }

  .userCard .username {
    width: 112px;
  }
}
