@import 'tailwindcss';

:root {
	--color-background: #f3faff;
	--color-foreground: #09131a;
	--color-card: #ffffff;
	--color-card-foreground: #09131a;
	--color-input: #d3e0ea;
	--color-border: #d3e0ea;
	--color-ring: #00a33d;
	--color-primary: #00a33d;
	--color-primary-foreground: #f3faff;
	--color-secondary: #e0edf8;
	--color-secondary-foreground: #202a32;
	--color-muted: #e0edf8;
	--color-muted-foreground: #4c575f;
	--color-accent: #28bc5e;
	--color-accent-foreground: #f3faff;
	--color-destructive: #f22a36;
	--color-destructive-foreground: #f3faff;

	--radius: 0.75rem;
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

:root[data-theme='dark'] {
	--color-background: #1a1d23;
	--color-foreground: #e6e6e6;
	--color-card: #2f3537;
	--color-card-foreground: #e6e6e6;
	--color-input: #454545;
	--color-border: #454545;
	--color-ring: #35975c;
	--color-primary: #35975c;
	--color-primary-foreground: #e6e6e6;
	--color-secondary: #14532d;
	--color-secondary-foreground: #e6e6e6;
	--color-muted: #454545;
	--color-muted-foreground: #a3a3a3;
	--accent: hsl(144 47.0588% 20%);
	--accent-foreground: hsl(0 0% 100%);
	--color-destructive: #ef4343;
	--color-destructive-foreground: #e6e6e6;

	--radius: 0.75rem;
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@font-face {
	font-family: 'Nunito';
	src: url('/fonts/Nunito-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url('/fonts/Nunito-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url('/fonts/Nunito-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

*,
*::before,
*::after {
	transition:
		background-color 0.2s ease,
		color 0.2s ease,
		border-color 0.2s ease,
		box-shadow 0.2s ease;
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--color-border) transparent;
	border-color: var(--color-border);
}

html,
:host {
	font-style: normal;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Nunito', sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overscroll-behavior: none;
	background-color: var(--color-background);
	color: var(--color-foreground);
	font-synthesis-weight: none;
	text-rendering: optimizeLegibility;
}

[data-theme='dark'] .icon-sun {
	display: none;
}
[data-theme='light'] .icon-moon {
	display: none;
}
