button.btn {
  display: inline-flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  white-space: nowrap;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  border-width: 0px;
}

button.btn:active {
  transform: translateY(1px);
}

button.primary {
  color: var(--primary-foreground);
  background-color: var(--primary);
}

button.btn.primary:hover {
  background-color: color-mix(in oklab, var(--primary) 90%, transparent);
}

button.btn.primary:active {
  background-color: var(--primary-active);
}

button.btn:disabled {
  cursor: not-allowed;
}

button.btn.secondary {
  color: var(--secondary-foreground);
  fill: var(--secondary-foreground);
  border: 1px solid var(--border);
  background-color: var(--secondary);
}

button.btn.icon {
  padding: 0.5rem;
  aspect-ratio: 1/1;
  min-width: 14px;
  min-height: 14px;
  width: 36px;
}

button.btn.icon svg {
  width: 100%;
}

button.btn.loading {
  opacity: 0.8;
  cursor: default;
}

button.btn.destructive {
  background-color: var(--destructive);
  color: var(--destructive-foreground);
}

button.btn.destructive:hover {
  background-color: color-mix(in oklab, var(--destructive) 90%, transparent);
}
