.votesHistory {
  max-height: 240px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--card);
  color: var(--card-foreground);
  border-width: 1px;
  padding: 8px;
}

.votesHistory .roundHeader {
  font-weight: 600;
}

.votesHistory .roundItemVotes {
  display: flex;
  gap: 2px;
}

.roundItem {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.votesHistory .card {
  border-width: 1px;
  border-radius: 4px;
  font-weight: 600;
  padding: 4px;
  color: black;
}
