.drawer {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 24px;
  z-index: 10;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border-left: 1px solid var(--border);
  box-shadow: var(--shadow-md);
  background-color: var(--card);
  color: var(--card-foreground);
}

.drawer:hover {
  width: 256px;
}

.drawer .chevron {
  position: absolute;
  left: 0;
  width: min-content;
  margin-top: auto;
  height: min-content;
  margin-bottom: auto;
  top: 50%;
}

.drawer:hover .chevron {
  transform: rotate(180deg);
}

.drawer .empty {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--muted-foreground);
}

.drawer .history {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none;
  gap: 32px;
  position: relative;
  min-width: 254px;
}

.drawer:hover .history {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.roundHeader {
  font-weight: 600;
}

.roundItemVotes {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
}

.roundItem {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.roundItem .timestamp {
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);
  color: var(--muted-foreground);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (width >= 48rem) {
  .drawer {
    display: block;
  }
}
