.drawer {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 24px;
  z-index: 10;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border-left: 1px solid var(--border);
  box-shadow: var(--shadow-md);
  background-color: var(--card);
  color: var(--card-foreground);
}

.drawer:hover {
  width: 256px;
}

.drawer .chevron {
  margin: auto;
}

.drawer:hover .chevron {
  display: none;
}

.drawer .history {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none;
  gap: 32px;
  position: relative;
  min-width: 254px;
}

.drawer:hover .history {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.roundHeader {
  font-weight: 600;
}

.roundItemVotes {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
}

.roundItem {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}


