.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: #0000001a;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: var(--popover);
  color: var(--popover-foreground);
  margin: auto 16px;
  padding: 20px 12px;
  border-width: 1px;
  border-radius: var(--radius);
}
