.roomHeader {
  background: var(--card);
  color: var(--card-foreground);
  border-width: 1px;
  padding: 24px;
  box-shadow: var(--box-shadow);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  min-width: 600px;
  width: min-content;
  margin: 0px auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
