@import "tailwindcss";

:root {
  --background: hsl(240 9% 98%);
  --foreground: hsl(0 0% 20%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 20%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 20%);
  --primary: hsl(140 53% 43%);
  --primary-hover: hsl(140 53% 48%);
  --primary-active: hsl(140 53% 41%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(0 0% 98%);
  --secondary-foreground: hsl(0 0% 20%);
  --muted: hsl(50 27% 82%);
  --muted-foreground: hsl(0 0% 43%);
  --accent: hsl(146 87% 88%);
  --accent-foreground: hsl(0 0% 20%);
  --destructive: hsl(0 84% 60%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(0 0% 83.1373%);
  --input: hsl(0 0% 83.1373%);
  --ring: hsl(140 53% 43%);
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

:root.dark {
  --background: hsl(220 15% 12%);
  --foreground: hsl(0 0% 90%);
  --card: hsl(197 7% 20%);
  --card-foreground: hsl(0 0% 90%);
  --popover: hsl(197 7% 20%);
  --popover-foreground: hsl(0 0% 90%);
  --primary: hsl(144 48% 40%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(143.8 61.2% 20.2%);
  --secondary-foreground: hsl(0 0% 90%);
  --muted: hsl(0 0% 27%);
  --muted-foreground: hsl(0 0% 64%);
  --accent: hsl(144 47.0588% 20%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(0 84% 60%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(0 0% 27%);
  --input: hsl(0 0% 27%);
  --ring: hsl(144 48% 40%);
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--border) transparent;
  border-color: var(--border);
}

html {
  font: normal 16px/24px var(--font-geist);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overscroll-behavior: none;
  background-color: var(--background);
  color: var(--foreground);
  font-synthesis-weight: none;
  text-rendering: optimizeLegibility;
}

.card {
  background-color: var(--card);
  color: var(--card-foreground);
  border-radius: var(--radius);
  border-width: 1px;
  padding: 24px;
  box-shadow: var(--box-shadow);
}

.room {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px 20px;
  flex-grow: 1;
}
