@import "tailwindcss";

:root {
  --radius: 0.75rem;
  --background: hsl(0, 0%, 98%);
  --foreground: hsl(0, 0%, 15%);
  --muted: hsl(240 4.8% 95.9%);
  --muted-foreground: hsl(240 3.8% 46.1%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 3.9%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(240 10% 3.9%);
  --border: hsl(146, 20%, 90%);
  --input: hsl(240 5.9% 90%);
  --primary-foreground: hsl(355.7 100% 97.3%);
  --secondary: hsl(240 4.8% 95.9%);
  --secondary-foreground: hsl(240 5.9% 10%);
  --accent: hsl(240 4.8% 95.9%);
  --accent-foreground: hsl(240 5.9% 10%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);

  /* button */
  --primary: hsl(146 76% 36%);
  --primary-dark: hsl(146, 80%, 30%);
  --primary-border: hsl(146, 80%, 28%);
  --primary-hover: hsl(146, 79%, 42%);
  --ring: hsl(142 76% 36%);
  --box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.03),
    0px 2px 30px 0px rgba(0, 0, 0, 0.08), 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
}

:root.dark {
  --background: hsl(20 14.3% 4.1%);
  --foreground: hsl(0 0% 95%);
  --muted: hsl(0 0% 15%);
  --muted-foreground: 240 5% 64.9%;
  --popover: hsl(0 0% 9%);
  --popover-foreground: hsl(0 0% 95%);
  --card: hsl(24 9.8% 10%);
  --card-foreground: hsl(0 0% 95%);
  --border: hsl(240 4% 16%);
  --input: hsl(240 4% 16%);
  --primary: hsl(142 70% 45%);
  --primary-foreground: hsl(145 80% 10%);
  --secondary: hsl(240 3.7% 15.9%);
  --secondary-foreground: hsl(0 0% 98%);
  --accent: hsl(12 6.5% 15.1%);
  --accent-foreground: hsl(0 0% 98%);
  --destructive: hsl(0 63% 31%);
  --destructive-foreground: hsl(0 86% 97%);
  --ring: hsl(142.4 71.8% 29.2%);
  --box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06),
    0px 2px 30px 0px rgba(0, 0, 0, 0.22),
    inset 0px 0px 1px 0px hsla(0, 0%, 100%, 0.15);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--border) transparent;
  border-color: var(--border);
}

html {
  font: normal 16px/24px var(--font-geist-sans);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overscroll-behavior: none;
  background-color: var(--background);
  color: var(--foreground);
  font-synthesis-weight: none;
  text-rendering: optimizeLegibility;
}

.btn {
  display: inline-flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  white-space: nowrap;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  color: var(--primary-foreground);
  background-color: var(--primary);
  cursor: pointer;
  border: 2px solid var(--primary-border);
}

.btn:hover {
  background-color: var(--primary-hover);
}

.btn:active {
  background-color: var(--primary-dark);
}

.card {
  background: var(--card);
  color: var(--card-foreground);
  border-radius: var(--radius);
  border-width: 1px;
  padding: 24px;
  box-shadow: var(--box-shadow);
}

.room {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px 20px;
  flex-grow: 1;
}

.room-users-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin: auto;
}

.user-card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
}
