.roomItem {
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border);
  gap: 8px;
}

.roomItem:hover .roomName {
  text-decoration: underline;
}

.roomItem .icon svg:last-child {
  display: none;
}

.roomItem:hover .icon svg:first-child {
  display: none;
}

.roomItem:hover .icon svg:last-child {
  display: block;
}
