.smallVoteCard {
  border-width: 1px;
  border-radius: 4px;
  font-weight: 600;
  padding: 4px;
  background-color: transparent;
  color: black;
  max-width: 80px;
  min-width: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.rainbowCard {
  background: #f39893;
  animation: hueSpin 30s linear infinite;
  filter: hue-rotate(0deg);
}

@keyframes hueSpin {
  to {
    filter: hue-rotate(360deg);
  }
}
