.toolbar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0px auto;
  background: var(--card);
  color: var(--card-foreground);
  border-radius: var(--radius);
  border-width: 1px;
  border-bottom-width: 0px;
  box-shadow: var(--shadow-lg);
  padding: 12px 20px;
  max-width: 800px;
  width: 100%;
}

.toolbar button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  min-width: 124px;
}

@media (width >= 48rem) {
  .toolbar {
    gap: 12px;
  }
}
