.toolbar {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0px auto;
  background: var(--card);
  color: var(--card-foreground);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-width: 1px;
  border-bottom-width: 0px;
  box-shadow: var(--box-shadow);
  padding: 24px;
  width: min-content;
  min-width: 800px;
}

.toolbar button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}
